* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cabeçalho ========================== */

.header {
    padding: 20px;
    text-align: center;
    background: url(https://photos.enjoei.com.br/public/1176x200/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9oZWFkZXJzLzYwOTA3MjIvOWY1MjAxNmJmYmEwMjgyZWY0ZjdhM2JhNWM3YzhlZDcuanBn);
    background-size: cover;
}

.header p {
    color: whitesmoke;
    font-size: 24px;
    font-weight: 700;
}

/* Navegação dos links ======================== */

.navContent {
    background:#ececec;
    padding: 25px;
    text-align: center;
}

.navContent a {
    display: inline-block;
    padding: 10px 20px;
    background-color: royalblue;
    border-radius: 5px;
    margin: 5px 30px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

.navContent a:hover {
    background-color: rgb(86, 125, 243);
}

/* Lista de estoque ========================== */

main {
    width: 100%;
    text-align: center;
    min-height: 70vh;
}

.form {
    padding-bottom: 20px;
}

.form h2 {
    text-align: center;
    padding: 10px 0;
}

.form a {
    display: inline-block;
    text-decoration: none;
    background-color: royalblue;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: whitesmoke;
    font-weight: 500;
}

.form a:hover {
    background-color: rgb(86, 125, 243);
}

.form label {
    font-weight: 500;
}

.products {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.products li {
    border: 2px solid royalblue ;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 0 10px;
    height: 100px;
}
img {
    max-width: 50px;
}

.payment {
    margin: 20px 0;
}

.payment h2 {
    margin: 10px 0;
}

.payment label {
    margin-right: 10px;
}

/* footer =============================== */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: chocolate;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    background-color: royalblue;
}